{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}HAKKIMIZDA{% endblock %}
{% block bodyclass %}class="about-page"{% endblock %}

{% block content %}




    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">HAKKIMIZDA</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">ANASAYFA</a></li>
            <li class="current">HAKKIMIZDA</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        {% for about in abouts %}
        <div class="row gy-4">



          {% if forloop.counter|divisibleby:2 %}
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-uppercase"> {{about.title}} </h3>
              <p> {{about.content|safe}} </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
              <img src="{{about.image.url}}" class="img-fluid rounded-4 mb-4 mt-4 border border-2 border-warning rounded-3" alt="">
            </div>
          {% else %}
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
              <img src="{{about.image.url}}" class="img-fluid rounded-4 mb-4 mt-4 border border-2 border-warning rounded-3" alt="">
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-uppercase"> {{about.title}} </h3>
              <p> {{about.content|safe}} </p>
            </div>
          {% endif %}


        </div>
        {% endfor %}
      </div>

    </section><!-- /About Section -->




{% endblock %}
